@keyframes fadeIn {
    0% {
      opacity: 0
    } 
    100% {
      opacity: 1
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1
    } 
    100% {
      opacity: 0
    }
  }

  .slideshow-container {
    margin-top: 1px !important; 
    width: 100%; 
    display: flex;
    justify-content: center;
  }

  .slideshow-image {
    position: absolute;
    width: 60%;
    height: 70%;
    opacity: 0;
    background-size: cover;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
  }

  .active {
    animation: fadeIn 4s;
  }

  .inactive {
    animation: fadeOut 4s;
  }    
    
    
    
    // .active img {
    //     position: absolute; 
    //     background: white; 
    // }

    // .active img:nth-of-type(1) {
    //     animation-name: fader;
    //     animation-delay: 4s;
    //     animation-duration: 1s;
    //     z-index: 20;
    // }

    // .active img:nth-of-type(2) {
    //     z-index: 10;
    // }

    // .active img:nth-of-type(3) {
    //     display: none;
    // }
 
    // @keyframes fader {
    //     from { opacity: 1.0; }
    //     to   { opacity: 0.0; }
    //   }





// .slideshow-container {
//     width: 100%; 
//     background-color: black; 

//     div {
//         position: absolute; 
//     }

//     .slideshow-image {
//         width: 100%; 
//         opacity: 0; 
//         animation: 5s ease-out forwards;
//     }

//     .active .slideshow-image {
        
//     -webkit-animation: fadeInOut 5s ease-out forwards;
//     animation: fadeInOut 5s ease-out forwards;
 

//     @keyframes fadeInOut{
//         0%, 100% {
//             opacity: .5
//         } 
//         50% {
//             opacity: 1
//         }
//     }
    
//     @-webkit-keyframes fadeInOut{
//         0%, 100% {
//             opacity: .5
//         } 
//         50% {
//             opacity: 1
//         }
    
//     }
// }   

// }