@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

.slideshow-container {
  height: 100%;
  margin: 0px auto !important;
  width: 67%;
  display: flex;
  justify-content: center;
}

.slideshow-container:hover {
  transition: 1s all;
  .play-btn,
  .pause-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 1s;
  }
}

.slideshow {
  margin-bottom: 100px;
  width: 950px;
  height: 520px;
}

.slideshow-image {
  margin: 0 auto 100px;
  width: 950px;
  height: 520px;
  // position: absolute;
  // width: 67%;
  // height: 100% !important;
  // opacity: 0;
  // background-size: cover;
  // left: 50%;
  // transform: translateX(-50%);
}

.active {
  // animation: fade 4s;
}

.inactive {
  display: none;
}

.play-btn,
.pause-btn {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
  width: 900px;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .slideshow {
    width: 500px;
    height: 350px;
  }
  .slideshow-image {
    width: 400px;
    height: 400px;
  }

  .play-btn,
  .pause-btn {
    width: 400px;
    height: 400px;
  }
}
