@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

.slideshow-container {
  height: 100%;
  margin: 0px 0 3rem 0 !important;
  width: 67%;
  display: flex;
  justify-content: center;
}

.slideshow-container:hover {
  transition: 1s all;
  .play-btn,
  .pause-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 1s;
  }
}

.slideshow {
  width: 800px;
  height: 800px;
}

.slideshow-image {
  width: 800px;
  height: 800px;
  // position: absolute;
  // width: 67%;
  // height: 100% !important;
  // opacity: 0;
  // background-size: cover;
  // left: 50%;
  // transform: translateX(-50%);
}

.active {
  // animation: fade 4s;
}

.inactive {
  display: none;
}

.play-btn,
.pause-btn {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  color: black;

  width: 800px;
  height: 800px;
}

@media only screen and (max-width: 768px) {
  .slideshow-image {
    width: 100%;
  }
}
