body {
  background: purple;
}

.sidebar-right {
  padding-left: 20px;
}

h3 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .app-sidebar h3 {
    display: none;
  }
}
