.app-sidebar {
  margin: 0;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.app-sidebar-right {
  flex-basis: 25%;
}

@media only screen and (max-width: 1024px) {
  .app-sidebar h3 {
    display: none;
  }
}
