.horizontal-container {
  height: 100%;
  width: 100px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bg {
  background-color: green;
}

.bg2 {
  background-color: red;
}

.bg4 {
  background-color: purple;
}

.horizontal-link {
  text-decoration: none;
  margin-right: 10px;
}

.arrows {
  display: block;
}

@media only screen and (min-width: 800px) {
  .horizontal-links {
    display: none;
  }

  .arrows {
    display: none;
  }
}
