.horizontal-container {
  height: 100%;
  width: 100px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bg {
  background-color: green;
}

.bg2 {
  background-color: red;
}

.bg4 {
  background-color: purple;
}

.horizontal-link {
  text-decoration: none;
  margin-right: 10px;
}

.arrows {
  display: none; 
}


.horizontal-links-wrapper {
  width: 150px; 
  height: 50px; 
  border: 1px solid black; 
  padding: 5px; 
  display: none; 
}

@media only screen and (max-width: 800px) {
  .horizontal-links-wrapper {
    display: block;
  }

  .arrows {
    display: flex;
    align-items: center; 
    
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

