.horizontal-container {
  height: 100%;
  width: 100px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bg {
  background-color: green;
}

.bg2 {
  background-color: red;
}

.bg4 {
  background-color: purple;
}

.horizontal-link {
  width: 400px;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}

.arrows {
  display: none;
}

.horizontal-links-wrapper {
  width: 400px;
  height: 50px;
  padding: 5px;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .horizontal-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 200px;
  }

  .horizontal-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  }

  .arrows {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 30px 10px 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .horizontal-links-wrapper {
    width: 700px;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .horizontal-links-wrapper {
    width: 300px;
    margin: 2px;
  }

  .horizontal-link {
    width: 300px;
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
