.image-container {
  height: 560px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.mobile-container {
  display: none;

  .topnav {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    #mobile-links {
      display: none;
    }

    a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;

      &:hover {
        color: #fff;
      }
    }

    a.icon {
      font-size: 30px;
      display: block;
    }
  }

  .topnav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-container-logo {
    width: 40px;
  }
}

.desktop-container {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;

  .navbar-logo {
    width: 100px;
  }

  .desktop-links a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 30px;
    text-decoration: none;
  }

  .navbar-link {
    font-size: 50px;

    padding: 10px 31px;
    transition: 0.4s all;

    &:hover {
      background: #000;
    }
  }
}

@media all and (max-width: 900px) {
  .horizontal-link {
    width: 95%;
  }

  .mobile-container {
    display: block;
  }

  .navbar-logo {
    margin-right: 150px;
  }

  .desktop-container {
    display: none;
  }
}

@media all and (max-width: 450px) {
  .mobile-container {
    display: block;
  }

  .navbar-logo {
    margin-right: 150px;
  }
}
