img {
  width: 100px;
}

.navbar-link {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  padding: 10px 31px;
  transition: 0.4s all;

  &:hover {
    background: #fff;
  }
}

.desktop-container {
  background-image: linear-gradient(#4ea45f, #4e9ecf);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .desktop-links a {
    color: black;
    font-size: 1.5rem;
    margin-right: 30px;
    text-decoration: none;
  }
}

.topnav {
  overflow: hidden;
  background-image: linear-gradient(#4ea45f, #4e9ecf);
  position: relative;
}

.topnav #mobile-links {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: "Roboto", sans-serif;
}

.topnav a.icon {
  font-size: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
}

.topnav a:hover {
  color: black;
}

.active {
  background-image: linear-gradient(#4ea45f, #4e9ecf);
  color: white;
}

.mobile-container {
  display: none;
}

@media only screen and (max-width: 900px) {
  .horizontal-link {
    width: 95%;
  }

  .mobile-container {
    display: block;
  }

  .navbar-logo {
    margin-right: 150px;
  }

  .desktop-container {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .mobile-container {
    display: block;
  }

  .navbar-logo {
    margin-right: 150px;
  }
}
