.active_item {
    color: black;
}

.sidebar-container {
    background-color: #edf8f4;
    padding: 20px; 

    h5 {
        font-size: .3rem; 
    }

    .sidebar-subtitle
     {
        width: 10rem; 
        margin-top: .8rem;
        text-decoration: none; 

        a {
            width: 7rem; 
            padding-right: 5rem; 
        }
    }

    .sidebar-left {  
        display: flex;
        justify-content: flex-start;

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        li { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            list-style: none;
            
            
            svg {
                margin-top: 16px; 
                margin-right: 6px; 
            }
        }
    }
}

@media only screen and (max-width: 768px)  {
    .sidebar-container{   
      flex: .5
    }
  }

