
.footer-wrapper {
    background-color: #fff;
    width: 100% !important;
    margin: 0 auto;
    display: flex;

    .footer-wrapper-container {
        flex: 1;
    }

    hr {
        color: purple; 
        margin: 0 auto; 
        width: 80%; 
    }

    p {
        margin-top: 20px; 
        text-align: center;  
    }

    a {
        display: contents; 
        text-decoration: underline; 
        color: #000
    }
}

