.footer-wrapper {
  background-color: #fff;
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  padding: 20px 20px 60px 20px;

  .footer-wrapper-container {
    flex: 1;
  }

  hr {
    color: purple;
    margin: 0 auto;
    width: 80%;
  }

  p {
    margin-top: 20px;
    text-align: center;
  }

  #email-underline {
    text-decoration: underline !important;
  }
}
