.horizontal-navbar-container {
  display: none;
}

@media only screen and (max-width: 450px) {
  .horizontal-navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;

    .arrows {
      display: flex;
      align-items: center;
      background: white;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }

    .horizontal-link {
      width: 60vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      text-decoration: none;
    }
  }
}
