* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .app-wrapper {
//   width: 100vw !important;
//   height: 100vh;
// }

.home-container {
  display: flex;
  justify-content: space-between;
}

.App {
  background: #edf8f4;
  width: 100vw;
  display: flex;
}

.app-container {
  display: flex;
  justify-content: center;
}

.app-switch {
  position: relative;
  flex: 3;
}

.app-sidebar {
  background-color: #edf8f4;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
  }
}

.horizontal-container {
  background-color: blue;
}

@media only screen and (max-width: 800px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }

  .app-sidebar {
    display: none;
  }

  // .horizontal-container {
  //   display: block;
  // }
}
