* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  .home-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    .home-content {
      flex-basis: 70%;
    }
  }

  .App {
    background: #edf8f4;
    width: 100vw;
    display: flex;
  }

  .app-container {
    display: flex;
    justify-content: center;
  }

  .app-switch {
    position: relative;
    flex: 3;
  }
}

@media only screen and (max-width: 800px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar-right-container,
  .sidebar-left-container {
    display: none;
  }
}
