body {
  background-color: #edf8f4;
  margin: 0px !important;
}

p {
  display: block;
  font-family: "Roboto", sans-serif;
}

b {
  display: inline;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.7rem;
}

h1,
h2 {
  margin-bottom: 1rem;
  display: block;
  font-family: "Roboto", sans-serif !important;
}

h4 {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  padding-right: 6px;
}

.page-container {
  min-height: calc(100% - 30%);
  background: #fff;
  padding: 20px;
}

@media only screen and (max-width: 900px) {
  .page-container {
    min-height: 0px;
    padding-bottom: 50px;
  }
}
