body {
  background-color: #edf8f4;
}

p {
  display: block;
  font-family: "Roboto", sans-serif;
}

b {
  display: inline;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-bottom: 1rem;
  display: block;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
}

.page-container {
  min-height: calc(100% - 30%);
  background: #fff;
  padding: 20px;
}
